<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark background">
  <a class="navbar-brand" href="#" [routerLink]="['/movies']"><img src="assets/net2.png" alt="home"
      style="border-radius:50% ; height: 60px; width:180px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto color">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/movies']" style="color: red;">Movies <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:red;" [routerLink]="['/favorites']" >Favorites <span class="sr-only">(current)</span></a>
      </li>
    </ul>


  </div>
</nav>
