<div class="panel panel-default" [ngStyle]="{'background-image': getUrl()}">
 <div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/bohem.jpg"
             class="img-responsive center-block"
             style="max-height:300px; max-width: 100%; padding-bottom:50px" />
      </div>

      <div class="text-center">Developed with <i class="fa fa-heart"></i> by:</div>
      <div class="text-center">
        <h3>Ngole Lawson</h3>
      </div>

      
    </div>
  </div>
</div>